greentrack/mdapipkg/flows/Auto_Create_Impact_Score_with_Level.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Determine_Impact_Level</name>
        <label>Determine Impact Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Impact_Score_as_Champion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Champion</defaultConnectorLabel>
        <rules>
            <name>Beginner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalCO2</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Impact_Score_as_Beginner</targetReference>
            </connector>
            <label>Beginner</label>
        </rules>
        <rules>
            <name>Intermediate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTotalCO2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTotalCO2</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Impact_Score_as_Intermediate</targetReference>
            </connector>
            <label>Intermediate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Eco_Activity</name>
        <dataType>String</dataType>
        <expression>$Record.Id</expression>
    </formulas>
    <formulas>
        <name>Eco_Type</name>
        <dataType>String</dataType>
        <expression>$Record.Id</expression>
    </formulas>
    <formulas>
        <name>Total_CO2_Saved</name>
        <dataType>Number</dataType>
        <expression>$Record.Trees_Planted__c * 21 + $Record.Waste_Recycled__c * 1.5</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varTotalCO2</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Trees_Planted__c} * 21 + {!$Record.Waste_Recycled__c} * 1.5</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Auto Create Impact Score with Level {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create Impact Score with Level</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Impact_Score</name>
        <label>Create Impact Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Impact_Level</targetReference>
        </connector>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Beginner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_CO2_Saved__c</field>
            <value>
                <elementReference>Total_CO2_Saved</elementReference>
            </value>
        </inputAssignments>
        <object>Impact_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Impact_Score_as_Beginner</name>
        <label>Create Impact Score as Beginner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Beginner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_CO2_Saved__c</field>
            <value>
                <elementReference>varTotalCO2</elementReference>
            </value>
        </inputAssignments>
        <object>Impact_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Impact_Score_as_Champion</name>
        <label>Create Impact Score as Champion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Champion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_CO2_Saved__c</field>
            <value>
                <elementReference>varTotalCO2</elementReference>
            </value>
        </inputAssignments>
        <object>Impact_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Impact_Score_as_Intermediate</name>
        <label>Create Impact Score as Intermediate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <stringValue>Intermediate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_CO2_Saved__c</field>
            <value>
                <elementReference>varTotalCO2</elementReference>
            </value>
        </inputAssignments>
        <object>Impact_Score__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Impact_Score</targetReference>
        </connector>
        <object>Eco_Activity__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
